body {
    background-color: grey;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

.menuIcon {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    background-image: url(images/hamburger_menu.png);
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: center;
    cursor: pointer;
}

.menuIcon img {
    width: 40px;
    height: 40px;
    padding-left: 10px;
}

.nav-sidebar {
    visibility: hidden;
    position: absolute;
    left: -250px;
    width: 50px;
    height: 100px;
    background: blue;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}


.nav-sidebar ul {
    width: 200px; 
    margin-left: -30px;   
}

.nav-sidebar li {
    width: 200px;
    cursor: pointer;
    list-style-type: none;  
}


.linkHome {
    background-color: grey;
}

.linkRed{
    background-color: red;
}

.linkOrange {
    background-color: orange;
}

.linkPurple {
    background-color: purple;
}

.linkGreen {
    background-color: green;
}

.highlight {
    font-weight: bold;
    color: white;
}

.appearColor {
    align-items: center;
    visibility: hidden;
    font-size: 18px;
}



